<div class="container">
    <div class="topbar">
        <div class="triangle triangle-right"></div>
        <div class="triangle triangle-left"></div>
        <img class="logo" src="../../../assets/logo.png" />
    </div>

    <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 100">
        <path d="m 10 0 v 100"></path>
    </svg>

    <div class="quote">
        Code Arena is an app which allows you to compete with AI-developers from all around the world. 
        The platform provides games which are specifically designed to be played by computers instead of humans.
        AIs are trained locally and can be uploaded and ranked. The project is open-source and community-powered.
    </div>

    <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 100">
        <path d="m 10 0 v 100"></path>
    </svg>

    <button (click)="redirectToSignup()">
        <div class="outline"></div>
        <div class="text">PLAY</div>
    </button>

</div>