@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* COLORS */
$bg-color: #0a1118;
$color-light-1: #1a5368;
$color-light-2: #1b87b0;
$color-action: #e26c42;
$text-default: #fBf9f0;
/* Font Familys */
$font-code: 'JetBrains Mono', monospace;
$font-default: 'Roboto', sans-serif;